/* Base Application Styles */
body
  color: $primary-text-color
  background: $primary-color-text
  &.terminal-error
    background: $primary-color-dark

  #app
    display: none

  &.pg-loaded > #app
    display: block

.index
  .notice
    margin: 20px auto
    padding: 15px 0
    text-align: center
    border: 1px solid
    border-width: 1px 0 $primary-text-color
    background: #666
