.homepage-component
  .demo-card-wide > .mdl-card__title
    background: url('//getmdl.io/assets/demos/welcome_card.jpg') top / cover
    color: #fff

  .demo-card-wide > .mdl-card__menu
    color: #fff

  .mdl-list__item-primary-content
    .card-icon
      background-color: rgb(117,117,117)
      box-sizing: border-box
      color: white
      margin: 0 16px 0 0
      height: 40px
      width: 40px
